@media screen and (max-width: 1024px) {
    main {
        grid-template-columns: 100%;
    }
    .right-bar {
        display: none;
    }
    .footer {
        grid-template-columns: 1fr 1fr;
        overflow: scroll;
    }
    .footer-title, .footer-card {
        display: flex;
        margin: 2rem;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .search-bar {
        display: none;
    }
    nav.nav-bar {
        display: grid;
        grid-template-columns: 50% 50%;
        justify-items: center;
    }
    .center {
        overflow-y: scroll;
        overflow-x: none;
        grid-template-columns: 1fr;
    }
    .container img {
        width: 50%;
    }
    .left-bar {
        overflow: initial;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .progress-value {
        width: 60%;
    }
    .table-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .table {
        height: 25rem;
        overflow: scroll;
    }
    .table-content .container-1, .table-content .container-2, .table-content .container-3, .table-content .container-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 1rem;
    }
}
@media screen and (max-width: 720px){
    .footer {
    grid-template-columns: 1fr;
    }
}