@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
}
main {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr;
    height: 100%;
}
.content {
    display: grid;
    height: 100vh;
    grid-template-rows: 15% auto 20%;
}

.center {
    display: grid;
    grid-template-columns: auto 30%;
    overflow: hidden;
}
.right-bar {
    display: grid;
    grid-template-rows: 35% auto 15%;
    background-image: url(/assets/img/img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: #faefda;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.user-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-img img{
    width: 35%;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 100%;
}
.user-text {
    color: #1e293a;
    text-align: center;
}
.user-text h2 {
    margin: 0;
}
.user-text h4 {
    color: rgb(88, 88, 88);
    text-align: center;
}
.right-nav,.bottom-nav {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    flex-direction: column;
    gap: 10%;
    padding: 0;
    text-align: start;
}
.right-nav a ,.bottom-nav a {
    text-decoration: none;
    color: #2525258a;
    transition: all 300ms ease;
    font-size: 1.2rem;
}
.right-nav a:hover,.bottom-nav a:hover {
    text-decoration: none;
    color: #1e293a;
}
.right-nav .active {
    text-decoration: none;
    font-weight: bolder;
    color: #1e293a;
    font-size: 1.7rem;
}
.bottom-nav a {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}

.footer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    font-family: 'Anybody', cursive;
}
.footer-card {
    line-height: 2rem;
    cursor: pointer;
}
.footer-title ,.footer-card {
    margin: 2rem;
}
.date-active {
    width: 81px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbb650;
    color: white;
    border-radius: 20px;
}
.date {
    width: 81px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fbb75057;
    color: rgb(241, 171, 19);
    border-radius: 20px;
}
.footer-card h5{
    color: rgb(73, 72, 72);
}
nav.nav-bar {
    display: grid;
    grid-template-columns: 50% auto 30%;
}
.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
span.fas.fa-solid.fa-magnifying-glass {
    font-size: 1.4rem;
    color: #afafaf;
    cursor: pointer;
}
input[type="text"] {
    height: 40%;
    width: 70%;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #afafaf;
}
input[type="text"]:focus {
    outline: none;
    color: #afafaf;
}
::placeholder {
    color: #afafaf;
  }
.n-message{
    font-size: 1.4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    color: #afafaf;
}
.nav-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.n-message #counter{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b48aff;
    border-radius: 100%;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
i {
    cursor: pointer;
}
.consultant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
.consultant h3 {
    font-size: 1rem;
    color: #a3f1b6;
    border: 3px solid #a3f1b6;
    border-radius: 25px;
    padding: 0.8rem;
    cursor: pointer;
    transition: all 300ms ease;
    font-family: 'Anybody', cursive;
}
.consultant h3:hover {
    background: #a3f1b6;
    color: white;
}
.left-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2rem;
    flex-direction: column;
}

.left-bar .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 30px;
    gap: 1rem;
    border: 0.5px solid rgba(201, 200, 200, 0.514);
    height: 100%;
    justify-content: space-between;
}
.container img {
    width: 100%;
}
.container button {
    background: #f3d28c;
    border: none;
    width: 90%;
    height: 3rem;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.2rem;
    border: 2px solid white;
    transition: all 300ms ease;
}
.container button:hover {
    background: #ffffff;
    border: 2px solid #f3d28c;
    color: #f3d28c;
}
.table {
    background: #f2f9fa;
    border-radius: 40px;
    margin: 2rem;
    padding: 2rem;
}
.table h1 {
    font-family: 'Anybody', cursive;
    font-size: 1.4rem;
    font-weight: 800;
}
.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.circular-progress{
    position: relative;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.progress-value img{
    width: 100%;
}

.text{
    font-size: 15px;
    font-weight: 500;
    color: #606060;
}
.table-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem;
}
.table-content .container-1,
.table-content .container-2,
.table-content .container-3,
.table-content .container-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}